@charset "UTF-8";
 
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(to right ,#11629c,#0f5586 ,#0d4974 );
} 

header{
    background-color: #ffffff;
    height: 170px;
    box-shadow: 0px 3px 3px #0000000e;
    border-radius: 0px 0px 20px 20px;
}
header h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1075bd;
    font-size: 120px;
    margin-top: -20px;
    margin-left: 50px;
    text-shadow: 1px 2px 5px #00000011;
}
header h2 {
    background-color: #ffffff;
    text-align: center;
    text-shadow: 1px 2px 5px #00000011;
    width: 1850px;
    margin-left: 25px;
    word-spacing: 60px;
    letter-spacing: 0.5px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    text-align: center;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px #0000001a;
}
header h2 a {
    text-decoration: none;
    color: #1075bd;
}
header h3 {
    font-size: 18px;
    color: #1075bd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -185px;
    margin-left: 1500px;
}
header h3 img {
    height: 30px;
    padding-right: 5px;
    margin-bottom: -8px;
    text-shadow: 1px 2px 5px #00000011;
}
header h4 {
    font-size: 18px;
    color: #1075bd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -25px;
    margin-left: 1700px;
    text-shadow: 1px 2px 5px #00000011;
}
header h4 img {
    height: 23px;
    margin-bottom: -5px;
}
header h5 {
    font-family: 'Open Sans', sans-serif;
    color: #1075bd;
    font-size: 45px;
    margin-left: 240px;
    margin-top: -20px;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #00000011;
}
header h6 {
    font-family: 'Open Sans', sans-serif;
    color: #1075bd;
    font-size: 15px;
    margin-left: 240px;
    margin-top: -12px;
    text-transform: uppercase;
    text-shadow: 1px 2px 5px #00000011;
}



.slider {
    margin-top: 80px;
    margin-bottom: 50px;
    border-top: 10px #00000005;
    border-bottom: 10px #00000005;
    border-style: solid;
    width: 1903px;
    height: auto;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 0 auto;
    display: flex;
}
.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: .8s;
}
.slide img {
    width: 1903px;
}

.manual-navigation {
    position: absolute;
    width: 1903px;
    display: flex;
    justify-content: center;
    margin-top: -35px;
   
}
.manual-btn {
    border: 2px solid #ffffff;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;
    
}
.manual-btn:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover {
    background-color: #ffffff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}
.navigation-auto div {
    border: 2px solid #000000;
    padding: 7px;
    margin-top: 395px;
    border-radius: 10px;
    cursor: pointer;
    transition: .08s;
}
.navigation-auto {
    position: absolute;
    width: 1903px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #ffffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #ffffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #ffffff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #ffffff;
}
footer {
    background-color: #ffffff;
    height: 120px;
    margin-top: 250px;
    margin-bottom: 0px;
}
footer h1 {
    text-align: center;
    color: #00000090;
    font-size: 28px;
}
footer h1  a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #1075bd;
    font-size: 30px;
    padding-top: 5px;
}
footer h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-left: 100px;
    padding-top: 10px;
}
footer h2 a {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #1075bd;
    padding-right: 100px;
}
footer h3 {
    font-size: 18px;
    text-align: center;
    color: #00000090;
    margin-left: 65px;
    padding-top: 10px;
}
footer h3 a {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #00000090;
    padding-right: 60px;
}



@media (max-width:1680px) {
    header h2 {
        margin-top: 10px;
        width: 1615px;
    }
    header h3 {
        margin-left: 1250px;
    }
    header h4 {
        margin-left: 1450px;
    }
    .slider {
        width:1663px
    }
    .slide img {
        width: 1663px;
    }
    .manual-navigation {
        width: 1663px;
    }
    .navigation-auto div {
        margin-top: 341px;
    }
    .navigation-auto {
        width: 1663px;
    }
    footer {
        margin-top: 270px;
    }
}

@media (max-width:1440px) {
    header h2 {
        width: 1370px;
    }
    header h3 {
        margin-left: 1060px;
    }
    header h4 {
        margin-left: 1240px;
    }
    .slider {
        width:1423px
    }
    .slide img {
        width: 1423px;
    }
    .manual-navigation {
        width: 1423px;
    }
    .navigation-auto div {
        margin-top: 288px;
    }
    .navigation-auto {
        width: 1423px;
    }
    footer {
        margin-top: 173px;
    }
}

@media (max-width:1280px) {
    header {
        height: 150px;
    }
    header h1 {
        font-size: 100px;
        margin-left: 30px;
    }
    header h2 {
        font-size: 22px;
        margin-top: 17px;
        width: 1212px;
        height: 32px;
    }
    header h3 {
        font-size: 18px;
        margin-left: 920px;
        margin-top: -160px;
    }
    header h3 img {
        height: 28px;
    }
    header h4 {
        font-size: 18px;
        margin-left: 1085px;
        margin-top: -26px;
    }
    header h4 img {
        height: 20px;
    }
    header h5 {
        margin-top: -18px;
        margin-left: 180px;
        font-size: 40px;
    }
    header h6 {
        margin-left: 180px;
        font-size: 15px;
    }
    .slider {
        width:1263px
    }
    .slide img {
        width: 1263px;
    }
    .manual-navigation {
        width: 1263px;
    }
    .navigation-auto div {
        margin-top: 256px;
    }
    .navigation-auto {
        width: 1263px;
    }
    footer {
        height: 110px;
        margin-top: 194px;
    }
}

@media (max-width:1024px) {
    header {
        height: 150px;
    }
    header h1 {
        font-size: 100px;
        margin-left: 30px;
    }
    header h2 {
        font-size: 22px;
        margin-top: 17px;
        width: 955px;
        height: 32px;
    }
    header h3 {
        font-size: 15px;
        margin-left: 700px;
        margin-top: -165px;
    }
    header h3 img {
        height: 28px;
    }
    header h4 {
        font-size: 15px;
        margin-left: 850px;
        margin-top: -21px;
    }
    header h4 img {
        height: 20px;
    }
    header h5 {
        margin-top: -18px;
        margin-left: 180px;
        font-size: 35px;
    }
    header h6 {
        margin-left: 180px;
        font-size: 13px;
    }
    .slider {
        width:1007px
    }
    .slide img {
        width: 1007px;
    }
    .manual-navigation {
        width: 1007px;
    }
    .navigation-auto div {
        margin-top: 195px;
    }
    .navigation-auto {
        width: 1007px;
    }
    footer {
        height: 110px;
        margin-top: 194px;
    }
}

@media (max-width:479px) {
    header {
        height: 90px;
    }
    header h1 {
        font-size:50px;
        margin-left: 12px;
        margin-top: -10px;
    }
    header h2 {
        font-size: 15px;
        margin-top: 24px;
        margin-left: 10px;
        width: 456px;
        height: 22px;
    }
    header h3 {
        font-size: 12px;
        margin-left: 245px;
        margin-top: -100px;
    }
    header h3 img {
        height: 20px;
    }
    header h4 {
        font-size: 12px;
        margin-left: 355px;
        margin-top: -16px;
    }
    header h4 img {

        height: 16px;
    }
    header h5 {
        font-size: 0;
    }
    header h6 {
        font-size: 0;

    }
    .slider {
        margin-top: 30px;
        width:479px;

    }
    .slide img {
        height: 110px;
        width: 479px;
    }
    .manual-navigation {
        width: 479px;
    }
    .manual-btn {
        border: 1px solid #ffffff;
        padding: 4px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .navigation-auto div {
        margin-top: 94px;
        border: 1px solid #000000;
        padding: 4px;
    }
    .navigation-auto {
        width: 479px;
    }
    footer {
        height: 80px;
        margin-top: 400px;
    }
    footer h1 {
        font-size: 12px;
    }
    footer h1 a {
        font-size: 15px;
    }
    footer h2 {
        margin: 0px;
        margin-top: -10px;
        margin-left: 10px;
    }
    footer h2 a{
        font-size: 12px;
        text-align:  center;
        padding: 0px;
        padding-right: 10px;
    }
    footer h3 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-left: 10px;
        
    }
    footer h3 a {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        padding-right: 10px;
        
    }
}

@media (max-width:479px) {
    header {
        height: 90px;
    }
    header h1 {
        font-size:50px;
        margin-left: 12px;
        margin-top: -10px;
    }
    header h2 {
        font-size: 15px;
        margin-top: 24px;
        margin-left: 10px;
        width: 456px;
        height: 22px;
    }
    header h3 {
        font-size: 12px;
        margin-left: 245px;
        margin-top: -100px;
    }
    header h3 img {
        height: 20px;
    }
    header h4 {
        font-size: 12px;
        margin-left: 355px;
        margin-top: -16px;
    }
    header h4 img {

        height: 16px;
    }
    header h5 {
        font-size: 0;
    }
    header h6 {
        font-size: 0;

    }
    .slider {
        margin-top: 30px;
        width:479px;

    }
    .slide img {
        height: 110px;
        width: 479px;
    }
    .manual-navigation {
        width: 479px;
    }
    .manual-btn {
        border: 1px solid #ffffff;
        padding: 4px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .navigation-auto div {
        margin-top: 94px;
        border: 1px solid #000000;
        padding: 4px;
    }
    .navigation-auto {
        width: 479px;
    }
    footer {
        height: 80px;
        margin-top: 400px;
    }
    footer h1 {
        font-size: 12px;
    }
    footer h1 a {
        font-size: 15px;
    }
    footer h2 {
        margin: 0px;
        margin-top: -10px;
        margin-left: 10px;
    }
    footer h2 a{
        font-size: 12px;
        text-align:  center;
        padding: 0px;
        padding-right: 10px;
    }
    footer h3 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-left: 10px;
        
    }
    footer h3 a {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        padding-right: 10px;
        
    }
}

@media (max-width:375px) {
    header {
        height: 90px;
    }
    header h1 {
        font-size:50px;
        margin-left: 12px;
        margin-top: -10px;
    }
    header h2 {
        font-size: 15px;
        margin-top: 24px;
        margin-left: 10px;
        width: 355px;
        height: 22px;
    }
    header h3 {
        font-size: 12px;
        margin-left: 145px;
        margin-top: -100px;
    }
    header h3 img {
        height: 20px;
    }
    header h4 {
        font-size: 12px;
        margin-left: 260px;
        margin-top: -16px;
    }
    header h4 img {

        height: 16px;
    }
    header h5 {
        font-size: 0;
    }
    header h6 {
        font-size: 0;

    }
    .slider {
        margin-top: 30px;
        width:375px;

    }
    .slide img {
        height: 110px;
        width: 375px;
    }
    .manual-navigation {
        width: 375px;
    }
    .manual-btn {
        border: 1px solid #ffffff;
        padding: 4px;
        border-radius: 10px;
        margin-top: 15px;
    }
    .navigation-auto div {
        margin-top: 94px;
        border: 1px solid #000000;
        padding: 4px;
    }
    .navigation-auto {
        width: 375px;
    }
    footer {
        height: 80px;
        margin-top: 343px;
    }
    footer h1 {
        font-size: 12px;
    }
    footer h1 a {
        font-size: 15px;
    }
    footer h2 {
        margin: 0px;
        margin-top: -10px;
        margin-left: 10px;
    }
    footer h2 a{
        font-size: 12px;
        text-align:  center;
        padding: 0px;
        padding-right: 10px;
    }
    footer h3 {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        margin-top: 3px;
        margin-left: 10px;
        
    }
    footer h3 a {
        font-size: 12px;
        margin: 0px;
        padding: 0px;
        padding-right: 10px;
        
    }
}

@media (max-width:320px) {
    header {
        height: 90px;
    }
    header h1 {
        font-size:50px;
        margin-left: 12px;
        margin-top: -10px;
    }
    header h2 {
        font-size: 15px;
        margin-top: 24px;
        margin-left: 10px;
        width: 300px;
        height: 22px;
    }
    header h3 {
        font-size: 10px;
        margin-left: 120px;
        margin-top: -100px;
    }
    header h3 img {
        height: 20px;
    
    }
    header h4 {
        font-size: 10px;
        margin-left: 220px;
        margin-top: -15px;
    }
    header h4 img {
        height: 16px;
    }
    header h5 {
        font-size: 0;
    }
    header h6 {
        font-size: 0;
    
    }
    .slider {
        margin-top: 30px;
        width:320px;
    
    }
    .slide img {
        height: 100px;
        width: 320px;
    }
    .manual-navigation {
        width: 320px;
    }
    .manual-btn {
        border: 1px solid #ffffff;
        padding: 3px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .navigation-auto div {
        margin-top: 89px;
        border: 1px solid #000000;
        padding: 3px;
    }
    .navigation-auto {
        width: 320px;
    }
    footer {
        height: 75px;
        margin-top: 259px;
    }
    footer h1 {
        font-size: 12px;
    }
    footer h1 a {
        font-size: 15px;
    }
    footer h3 {
        font-size: 10px;
    }   
}